@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*NUEVO CODIGO CSS*/

body {
    font-family: "Quicksand", sans-serif;
    background-color: #f2f2f2;
    position: relative;
    box-sizing: border-box;
}

.landing-page {
    width: 100%;
    height: 100vh;
    background-color: rgb(153, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------  Estilos NAAAAAVV -----------*/

#navBar {
    margin-top: 0px;
    background-color: #ffff; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

#navBar ul {
    list-style-type: none; /* Eliminar puntos de la lista */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar padding */
    display: flex; /* Usar flexbox para los elementos de la lista */
    gap: 20px; /* Espacio entre los elementos de la lista */
}

#navBar li {
    display: inline; /* Alinear los elementos en línea */
}

#navBar button {
    background: none; /* Sin fondo */
    color: #4E5A6A; /* Color del texto de los botones */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno de los botones */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: color 0.3s; /* Transición suave para el efecto de color */
}

/* ------------ ESTILOS DE TODA LA TIENDA --------------- */

#container-products {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Define dos columnas: menú y carrito en la primera, artículos en la segunda */
    grid-template-areas:
        "menu menu"
        "articles cart";
    gap: 20px;
}

.menu {
    grid-area: menu;
    align-items: center;
}

.cart {
    grid-area: cart;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* ------------ ESTILOS DE PRODUCTOOS (CARDS) ------------*/
.articles {
    grid-area: articles;
    text-align: center;
}

.articlesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajusta el número de columnas para los productos */

}

.item {
    width: 100%;
    margin: 0px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid black;
}

.item img {
    width: 100%;
    display: block;

}


.articlesGrid label {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0 10px 0;
}

.buttonAddOneProduct {
    position: absolute; /* Posiciona el botón de manera absoluta dentro del contenedor */
    top: 85%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro del botón */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s; /* Transición suave para la aparición */

}

.buttonAddOneProduct button {
    border-radius: 50%;
    border: none;
    opacity: 0.5;
    background-color: white;
    color: black;

}

.buttonAddOneProduct button:hover {
    opacity: 1;
    transition: 0.3s;
}

.item:hover .buttonAddOneProduct {
    opacity: 1; /* Muestra el botón al pasar el cursor sobre el item */
}

/* ---------- ESTILOS PRODUCTO SELECCIONADOOOOOOO -----------*/

.only-product-selected {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.itemSelectedImage{
    height: 50vh;
}

.conten-info-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50vh;
    
}


/*  ---------- ESTILOS COMPRA RAPIDAAAA-------*/

.container-buy-one-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.info-buying-prod {
    margin-left: 50px;    
}

.img-prod-buying {

}




/*ESTILO FOOTEERR*/

footer {
    text-align: center;
}

