<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/estils.css">
    <title>TakeOutFit - Landing Page</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Botiga</title>
</head>

<body>
    <div id="app">
        <div :class="{'overlay': cartVisible}"></div>

        <div class="page-cover" v-if="visible == 'page-cover'">
            <header class="landing-page">
                <div class="content">
                    <h1 class="title">TakeOutFits</h1>
                    <p>La moda que va amb tu, ¡directe a la teva porta!</p>
                    <button class="btn" @click="changeDiv('store')">Explorar Coleccións</button>
                </div>
            </header>

            <!-- Carrusel -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://phantom-telva.unidadeditorial.es/80e39ab33e1d80b1b5230bba26b428c1/crop/243x14/1881x936/resize/1280/f/webp/assets/multimedia/imagenes/2023/10/25/16982371529145.jpg"
                            class="d-block w-100 img-fluid" alt="img1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://phantom-telva.unidadeditorial.es/8066ec7bbec0a61f346ef1d0d861bdb6/crop/0x0/2046x1151/resize/2046/assets/multimedia/imagenes/2023/01/18/16740347879974.jpg"
                            class="d-block w-100" alt="img2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://phantom-telva.unidadeditorial.es/64112f8cef05f1608b14e04a9565a1a0/crop/390x131/1974x1022/resize/1280/f/webp/assets/multimedia/imagenes/2024/10/18/17292518838915.jpg"
                            class="d-block w-100" alt="img3">
                    </div>
                </div>
            </div>


            <!-- <main> -->
                <!-- Podriamos colocar una serie de productos X destacados -->
                <!-- <section class="featured-products">
                    <h2>Nostres col·leccions</h2>
                    <p>Descobreix la nova àmplia varietat de peces de moda</p>
                    <!- Productos irían aquí -->
                <!-- </section> -->
            <!-- </main> --> 




        </div>

        <!------------------ STORE ------------>


        <!------------------ NAVBAR ------------>
        <div id="container-navBar" v-if="visibleButtons === 'buttons-menu'" class="btn-backHome">
            <nav class="navBar">
                <h1 @click="changeDiv('page-cover')">LOGO</h1>
    
                <label for="hamburger_menu">
                    <box-icon class="hamburger_icon" name='menu'></box-icon>
                </label>
            
                <input class="menu_hamburger" type="checkbox" id="hamburger_menu">
    
                <ul class="ul_links">
                    <li><button @click="changeDiv('store')">Home</button></li>
                    <li><button>Categories</button></li>
                    <li><button @click="changeDiv('cart')">Cistella ({{ cartItems.length }})</button></li>
                </ul>

            </nav>

        </div>


        <!------------------ PRINCIPAL ------------>

        <div v-if="visible === 'store'" id="container-products">

            <!------- LIST OF PRODUCTS  ------>
            <div class="articles">

                <h1>Catàleg</h1>

                <div :id="'item' + product.id" class="item" v-for="(product, index) in templateData.products">
                    <img @click="showSelectedProduct(product)" :src="laravel.URL + '/img/' + product.image" alt="">
                    <label class="title-product" :for="'item' + product.id">{{ product.title }}</label>
                    <label class="price-product" :for="'item' + product.id"> {{ product.price}} EUR</label>
                    <button type="button" :id="index" @click="addToCart(product), showCartFloat()">+</button>
                </div>

            </div>
        </div>

        <!------------- CART FLOAT ----------->

        <div :class="{'cart': true, 'cart-visible': cartVisible}" class="cart">
            <input @click="cartVisible = false" class="close-cart-float" type="button" value="X"></input>
            <h3>Subtotal</h3>
            <p> € {{ subTotalCart() }}</p>
            <button @click="visible = 'cart',cartVisible = false">Anar a la cistella</button>
            <p v-if="cartItems.length === 0" class="cart-empty">Cistella buida!</p>
            <div v-for="(itemCart,index) in cartItems" class="container-item-cart">
                <div v-if="itemCartEmpty(itemCart)" :id="itemCart.id" class="item-cart">
                    <div class="item-content">
                        <img :src="laravel.URL + '/img/' + itemCart.image" alt="image del product" width="50px"
                            class="item-image">
                        <div class="item-info">
                            <p> {{ itemCart.title}} </p>
                            <p class="descrip"> Size: {{ itemCart.size.size_id }}</p>
                            <p class="descrip"> {{ itemCart.description }}</p>
                            <div class="item-buttons">
                                <input v-if="itemCart.quantity > 0" @click="discountProduct(itemCart)" type="button"
                                    value="-"> {{itemCart.quantity}}
                                <input @click="incrementProduct(itemCart)" type="button" value="+">
                                <button @click="deleteItemCart(itemCart)">Esborrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------ ONLY SELECTED PRODUCT ------------>

        <div v-if="visible === 'productSelec'" class="only-product-selected">
            <div class="itemSelectedImage">
                <img :src="laravel.URL + '/img/' + selectedProduct.image" alt="">
            </div>
            <div class="conten-info-options">
                <div class="info-prod-selected">
                    <h3 class="name-product">{{selectedProduct.title}}</h3>

                    <p class="description">{{selectedProduct.description}}</p>
                    <p class="price">Preu: {{selectedProduct.price}}€</p>

                    <select name="size" id="">
                        <option disabled selected value="">Size</option>
                        <option value="">
                        <option value="">
                            {{ selectedProduct.size.size_id}}
                        </option>
                    </select>
                </div>
                <div class="buttons-options-prodSelected">
                    <button @click="changeDiv('onlyOneBuy'), addToCart(selectedProduct)">Comprar</button>
                    <button @click="addToCart(selectedProduct)"> Afegir a la cistella </button>
                </div>
            </div>
        </div>

        <!------------------ CART ------------>
        <div v-if="visible ==='cart' " id="contaires-cart" class="cart-item">
            <h1>Checkout</h1>
            <p> Total: € {{ subTotalCart() }}</p>
            <p v-if="cartItems.length === 0"> No hi ha productes a la cistella </p>
            <div v-for="(prodCart,index) in cartItems">
                <div :id="prodCart.id" class="cart-product">
                    <img :src="laravel.URL + '/img/' +  prodCart.image" id="index" alt="" width="200px"
                        class="cart-image">
                    <div class="cart-info">
                        <h3> {{ prodCart.title}}</h3>
                        <p>Preu: {{ prodCart.price}}</p>
                        <label for="size">Mida </label>
                        <select name="size" id="">
                            <option name="size" value="">
                                {{ prodCart.size.size_id}}
                            </option>
                        </select>
                        <label for="amount">Quantitat</label>
                    </div>
                    <div class="cart-controls">
                        <input v-if="prodCart.quantity > 0" @click="discountProduct(prodCart)" type="button" value="-">
                        {{prodCart.quantity}}
                        <input @click="incrementProduct(prodCart)" type="button" value="+">
                    </div>
                    <div class="cart-icon">
                        <box-icon @click="deleteItemCart(prodCart)" name='trash-alt'></box-icon>
                    </div>
                </div>
            </div>
            <div v-if="cartItems.length > 0" class="btn-options-buying">
                <button @click="cleanCart()">Delete All</button>
                <button @click="changeDiv('buyAllProducts')">Buy</button>
            </div>

        </div>

        <div v-if="visible === 'buyAllProducts'">
            
            <div v-for="(productsBuying, index) in cartItems" class="container-buy-all-product">
                <div class="container-product-buy">
                    <div>
                        <img class="img-prod-buying" :src="laravel.URL + '/img/' + productsBuying.image" alt=""
                            width="200px">
                    </div>
                    <div class="info-buying-prod">
                        <h3> {{ productsBuying.title }}</h3>
                        <p> {{ productsBuying.size.size_id}}</p>
                        <p> {{ productsBuying.price}} EUR</p>
                    </div>
                </div>
            </div>

            <div class="buttons-buy-all-products">
                <button @click="changeDiv('purchase-completed'),cleanCart()">Continue</button>
                <button @click="changeDiv('store'), cancelPurchase()">Cancel</button>
            </div>



        </div>

        <!------------------ BUY ONE PRODUCT ------------>

        <div v-if="visible === 'onlyOneBuy'" class="container-buy-one-product">

            <div>
                <img class="img-prod-buying" :src="laravel.URL + '/img/' + selectedProduct.image" alt="" width="200px">
            </div>
            <div class="info-buying-prod">
                <h3> {{ selectedProduct.title }}</h3>
                <p> {{ selectedProduct.size.size_id}}</p>
                <p> {{ selectedProduct.price}} EUR</p>
                <button @click="changeDiv('purchase-completed'),deleteItemCart(selectedProduct)">Continue</button>
                <button @click="changeDiv('store'), deleteItemCart(selectedProduct)">Cancel</button>
            </div>
        </div>

        <div v-if="visible === 'purchase-completed'">
            <h1>Compra realitzada</h1>
        </div>

    </div>

    <!------------------ FOOTER ------------>

    <footer>
        <div class="footer-landing-page">
            <p class="footer-text-bottom">&copy; 2024 TakeOutFit. Tots els drets reservats.</p>
        </div>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./js/utils.js"></script>
</body>

</html>