<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./css/estils.css">
    <title>TakeOutFit - Landing Page</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Botiga</title>
</head>

<body>
    <div id="app">

        <div class="page-cover" v-if="visible == 'page-cover'">
            <header class="landing-page">
                <div class="content">
                    <h1>Benvinguts a TakeOutFits</h1>
                    <p>La moda que va amb tu, ¡directe a la teva porta!</p>
                    <button class="btn" @click="changeDiv('store')">Explorar Coleccións</button>
                </div>
            </header>

            <main>
                <!-- Podriamos colocar una serie de productos X destacados -->
                <section class="featured-products">
                    <h2>Nostres col·leccions</h2>
                    <p>Descobreix la nova àmplia varietat de peces de moda</p>
                    <!-- Productos irían aquí -->
                </section>
            </main>

        </div>

        <!------------------ STORE ------------>

        <!------------------ NAVBAR ------------>
        <div id="navBar" v-if="visibleButtons === 'buttons-menu'" class="btn-backHome">

            <ul>
                <li><button @click="changeDiv('store')">Home</button></li>
                <li><button>Categories</button></li>
                <li><button @click="changeDiv('cart')">Cistella ({{ cartItems.length }})</button></li>
            </ul>
            <!-- <button @click="changeDiv('cart')">Cart items: {{objectsInCart}}</button> -->
        </div>

        <!------------------ PRINCIPAL ------------>

        <div v-if="visible === 'store'" id="container-products">
            <!-- <div class="bnrTop">
                <h1>Benvingut a TakeOutFit</h1>
            </div> -->


            <!------- LIST OF PRODUCTS  ------>
            <div class="articles">
                <h1>Peces de roba de la nostra botiga</h1>
                <div class="articlesGrid">
                    <div :id="'item' + product.id" class="item" v-for="(product, index) in templateData.products">
                        <img @click="showSelectedProduct(product)" :src="product.image" alt="">
                        <label :for="'item' + product.id">{{ product.title }}</label>
                        <label :for="'item' + product.id"> {{ product.price}} EUR</label>
                        <div class="buttonAddOneProduct">
                            <button type="button" :id="index" @click="addToCart(product)">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <!------------- CART FLOAT ----------->

            <div class="cart">
                <h1>Cistella</h1>
                <p v-if="cartItems.length === 0">Cistella vuida</p>
                <div v-for="(itemCart,index) in cartItems" class="container-item-cart">
                    <div v-if="itemCartEmpty(itemCart)" :id="itemCart.id" class="item-cart">
                        <img :src="itemCart.image" alt="image del product" width="50px">
                        <p> {{ itemCart.title}} x <input v-if="itemCart.quantity > 0" @click="discountProduct(itemCart)"
                                type="button" value="-"> {{itemCart.quantity}}
                            <input @click="incrementProduct(itemCart)" type="button" value="+"><button
                                @click="deleteItemCart(itemCart)">Esborrar</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!------------------ ONLY SELECTED PRODUCT ------------>

        <div v-if="visible === 'productSelec'" class="only-product-selected">
            <div class="itemSelectedImage">
                <img :src="selectedProduct.image" alt="">
            </div>
            <div class="conten-info-options">
                <div class="info-prod-selected">
                    <h3 class="name-product">{{selectedProduct.title}}</h3>

                    <p class="description">{{selectedProduct.description}}</p>
                    <p class="price">Preu: {{selectedProduct.price}}€</p>

                    <select name="size" id="">
                        <option disabled value="">Size</option>
                        <option v-for="(size, index) in selectedProduct.size" value="">
                            {{ size }}
                        </option>
                    </select>
                </div>
                <div class="buttons-options-prodSelected">
                    <button @click="changeDiv('onlyOneBuy'), addToCart(selectedProduct)">Comprar</button>
                    <button @click="addToCart(selectedProduct)"> Afegir a la cistella </button>
                </div>
            </div>
        </div>

        <!------------------ CART ------------>
        <div v-if="visible ==='cart' " id="contaires-cart" class="">
            <h1>Checkout</h1>
            <p v-if="cartItems.length === 0"> No hi ha productes a la cistella </p>
            <div v-for="(prodCart,index) in cartItems">
                <div :id="prodCart.id">
                    <img :src="prodCart.image" id="index" alt="" width="200px">
                    <h3> {{ prodCart.title}}</h3>
                    <!--- <p v-if="sameSelectedProduct()">Contador: {{  incrementCounterSameProducts() }}</p>-->
                    <button @click="deleteById(index)">Delete by id</button>
                </div>

            </div>
            <div v-if="cartItems.length > 0" class="btn-options-buying">
                <button @click="cleanCart()">Delete All</button>
                <button @click="changeDiv('buyingAll')">Buy</button>
            </div>
            
        </div>

        <!------------------ BUY ONE PRODUCT ------------>

        <div v-if="visible === 'onlyOneBuy'" class="container-buy-one-product">

            <h3></h3>
            <div>
                <img class="img-prod-buying" :src="selectedProduct.image" alt="" width="200px">
            </div>
            <div class="info-buying-prod">
                <h3> {{ selectedProduct.title }}</h3>
                <p> {{ selectedProduct.size}}</p>
                <p> {{ selectedProduct.price}} EUR</p>
                <button @click="changeDiv('purchase-completed'),deleteItemCart(selectedProduct)">Continue</button>
                <button @click="changeDiv('store'), deleteItemCart(selectedProduct)">Cancel</button>
            </div>
        </div>

        <div v-if="visible == 'purchase-completed'">
            <h1>Compra realitzada</h1>
        </div>

    </div>

    <!------------------ FOOTER ------------>

    <footer>
        <div class="footer-landing-page">
            <p class="footer-text-bottom">&copy; 2024 TakeOutFit. Tots els drets reservats.</p>
        </div>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./js/utils.js"></script>
</body>

</html>